.bgOfPfinance{
    position:absolute;
right: 1px;
left: 1px;
top: 0;
bottom: 0;
background: linear-gradient(180deg, #F7CD8E 9.38%, #9DF088 100%);
display: none;
}

.notice{
    position: absolute;
    top: 200px;
    width: 80%;
    left: 10%;
    height: 20vh;
    background-color: #0aaa47;
    padding-top: 10vh;
    border-radius: 20px;

    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    font-style: italic;
}

